<h1><%= @customer.fname %> <%= @customer.lname %></h1>
<ul>
  <% unless @customer.religion_id.nil? %>
    <li>Religion: <%= @customer.religion.name %></li>
  <% end %>
  <% unless @customer.smoker.nil? %>
    <li>Smoker?: <%= smoker %></li>
  <% end %>
  <% unless @customer.drinker.nil? %>
    <li>Drinker?: <%= drinker %></li>
  <% end %>
  <% unless @customer.height.nil? %>
    <li>Height: <%= @customer.height %></li>
  <% end %>
</ul>
<h3>About me!</h3>
<p>
  <%= @customer.bio %>
</p>
