<h1><%= @customer.fname %> <%= @customer.lname %></h1>
<%= image_tag "#{@customer.galleries.first.images.first.image}" %>
<ul>
  <% unless @customer.religion_id.nil? %>
    <li>Religion: <%= @customer.religion.name %></li>
  <% end %>
  <% unless @customer.smoker.nil? %>
  <li>Smoker?: <%= smoker %></li>
  <% end %>
  <% unless @customer.drinker.nil? %>
  <li>Drinker?: <%= drinker %></li>
  <% end %>
</ul>
<h3>About me!</h3>
<p>
  <%= @customer.bio %>
</p>
